/*-- scss:defaults --*/

$font-family-sans-serif: IBM Plex Sans;
// $font-family-monospace: 'IBM Plex Mono';

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500,700;1,400&display=swap');


h2 {
  border: none;
  padding-bottom: 0;
}


